a {
    text-decoration: none;
}

* {
    direction: ltr;
    box-sizing: border-box;
    font-family: Vazirmatn, Poppins;
}

body {
    font-family: "Vazirmatn", "Poppins", sans-serif;
    font-size: 16px;
    margin: 5px;
    cursor: default;
    background: #020024;
    background: linear-gradient(180deg,rgba(2,0,36,1) 0%,rgb(95, 95, 164) 100%);
    user-select: none;
}

img {
    max-width: 100%;
    height: auto;
}