/* go top button */

#go-top {
  display: none;
  width: 39px;
  height: 39px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}

#go-top:hover {
  background-color: #a1a1a1;
}

#go-top img {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  transition: all 1s ease;
}

/* header */

.sajjad-nav {
  display: flex;
  backdrop-filter: blur(10px);
  margin: 20px 10px;
  border-radius: 20px;
  border: 1px solid #464646;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 20px;
  backdrop-filter: blur(12px);
  background: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

nav .quick-link a span {
  margin: 0px 10px;
  font-size: 0.95rem;
  color: #c8c8c8;
  font-weight: 500;
  transition: all 0.5s ease;
}

nav .quick-link a span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3d7eff;
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border: 1.5px solid #c8c8c8;
  border-radius: 50%;
  vertical-align: middle;
}

.brand {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  margin-left: 5px;
  margin-right: 10px;
  color: #ffffff;
  padding-right: 35px;
  border-right: 2px solid #464646;
}

.resume .resume-btn {
  border: 2px solid #3d7eff;
  padding: 7px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  letter-spacing: 0.3px;
  transition: all 0.5s ease;
}

.resume .resume-btn:hover {
  background-color: #3d7eff;
  transform: scale(1.03);
  cursor: pointer;
}

.menu-items {
  display: flex;
  backdrop-filter: blur(10px);
  margin: 0px 10px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #464646;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  flex-direction: column;
}

.menu-items span {
  color: white;
}

.menu-items div {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #e8ebed;
  border-bottom: 1px solid #464646;
}

.menu-items div:last-child {
  border: none;
}

@media (max-width: 768px) {
  .quick-link {
    display: none;
  }

  .accent {
    border-color: transparent;
  }

  .tagline {
    font-size: 0.9rem;
  }
}

/* hero section */

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: auto;
  gap: 20px;
}

.profile-about {
  grid-area: 1 / 1 / 2 / 2;
  color: #ffffff;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.profile-about h1 {
  display: inline-block;
  margin: auto;
}

.profile-about h5 {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.profile-about h3 {
  margin: auto;
  margin-top: 0.8rem;
}

.profile-img {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

/* hero section contact links */

main .contact-icons {
  display: inline-block;
}

main .contact-icons img {
  width: 35px;
  height: 35px;
  gap: 1rem;
  opacity: 0.7;
  margin: 3px;
  padding: 5px;
  transition: transform 0.5s ease;
}

main .contact-icons img:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* skills section */

.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  color: #ffffff;
}

.skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 20px;
  gap: 20px;
}

.skill .icon {
  display: inline-block;
  opacity: 0.7;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.skill .skill-name {
  margin: auto;
  color: rgb(105, 105, 105);
}

.skill .icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.skill .skill-name-percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  margin: auto 10px;
}

.bar {
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.full-bar {
  width: 100%;
  height: 10px;
  background: #888;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.html {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 200px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px;
  width: 95%;
  margin: auto;
  transition: all 0.5s ease;
}

.html:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.html .bar {
  background: #4da3ff;
  width: 90%;
  animation: full-bar-html 6s ease;
}

.css {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 200px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  width: 95%;
  margin: auto;
  transition: all 0.5s ease;
}

.css:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.css .bar {
  background: #4da3ff;
  width: 85%;
  animation: full-bar-css 6s ease;
}

@keyframes full-bar-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes full-bar-css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes full-bar-js {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes full-bar-git {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.js {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px;
  width: 95%;
  margin: auto;
  transition: all 0.5s ease;
}

.js:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.js .bar {
  background: #ffc94a;
  width: 60%;
  animation: full-bar-js 4s ease;
}

.git {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 200px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  width: 95%;
  margin: auto;
  transition: all 0.5s ease;
}

.git:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.git .bar {
  background: #ffc94a;
  width: 50%;
  animation: full-bar-git 4s ease;
}

/* projects section (updating) */

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  color: #ffffff;
}

.projects {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  margin: 20px;
  margin-bottom: 30px;
}

.projects h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 20px;
}

.projects img {
  border-radius: 25px;
  transition: all 0.3s ease;
  padding: 10px;
  width: 100%;
  height: 55%;
}

.projects img:hover {
  transform: scaleY(1.02);
  filter: brightness(85%);
}

.projects button {
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid #3d7eff;
  cursor: pointer;
  width: 90%;
  height: 40px;
  transition: all 0.3s ease;
  margin: 10px;
}

.projects button:hover {
  transform: scale(1.03);
  background-color: #3d7eff;
}

.project1 {
  grid-area: 1 / 1 / 3 / 3;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  padding: 15px;
  transition: all 0.5s ease;
}

.project1:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.project2 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  height: auto;
  padding: 15px;
  grid-area: 1 / 3 / 3 / 5;
  transition: all 0.5s ease;
}

.project2:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.project3 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  height: auto;
  padding: 15px;
  grid-area: 3 / 1 / 5 / 3;
  transition: all 0.5s ease;
}

.project3:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.project4 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  height: auto;
  padding: 15px;
  grid-area: 3 / 3 / 5 / 5;
  transition: all 0.5s ease;
}

.project4:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.other-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.other-projects h2:hover {
  transform: scale(1.05);
  border: 1.3px solid;
}

.other-projects h2 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  transition: all 0.5s ease;
}

/* about section */

.about-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  color: #ffffff;
}

.about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 40px;
  margin: 10px 15px;
  margin-bottom: 60px;
  transition: all 0.5s ease;
}

.about:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

.about-img {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.about-img img {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.about-info {
  grid-area: 1 / 3 / 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.about-info h3 {
  font-weight: bolder;
  background-clip: text;
  color: transparent;
  animation: textcolor 1s infinite alternate;
}

.about-info h5 {
  font-weight: 200;
  font-size: 1rem;
}

.about-info h3 img {
  border: 1px solid white;
  border-radius: 30%;
  margin-right: 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
}

@keyframes textcolor {
  0% {
    background: #69e4fd;
    background-clip: text;
    color: transparent;
  }
  100% {
    background: #e8ebed;
    background-clip: text;
    color: transparent;
  }
}

/* get in touch section */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 60px 15px;
  padding: 15px;
}

.contact-img {
  grid-area: 1 / 1 / 2 / 2;
}

.contact-img2 {
  grid-area: 1 / 3 / 2 / 4;
}

.contact img {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  grid-area: 1 / 2 / 2 / 3;
  border: none;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 50px;
  width: 90%;
  transition: all 0.5s ease;
}

form:hover {
  border: 1.3px solid rgba(169, 169, 169, 0.876);
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgb(167, 167, 167);
  background-color: transparent;
  margin: 10px;
  text-align: start;
}

form button {
  width: 95%;
  color: #ffffff;
  background-color: transparent;
  height: 40px;
  border: 2px solid #3d7eff;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  transform: scale(1.05);
  background-color: #3d7eff;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #ffffff;
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  padding: 10px;
  color: #ffffff;
  resize: none;
  justify-content: center;
  align-items: center;
  text-align: left;
}

textarea::placeholder {
  color: #ffffff;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus {
  outline: none;
}

.form h1 {
  color: white;
}

/* footer section */

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  background: #0a0f18;
  color: #e2e8f0;
}

.footer-about {
  grid-area: 1 / 1 / 2 / 2;
}
.footer-quick-links {
  grid-area: 1 / 2 / 2 / 3;
}
.footer-links {
  grid-area: 1 / 3 / 2 / 4;
}
.footer-contact {
  grid-area: 1 / 4 / 2 / 5;
}

footer hr {
  grid-column: 1 / 5;
  border: none;
  border-top: 1px solid white;
}

footer .copyright {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

footer div {
  margin: 20px;
}

footer a h5 {
  color: #e2e8f0;
  transition: all 0.5s ease;
}

footer a h5:hover {
  transform: scale(1.05);
}

footer img {
  width: 20px;
  height: 20px;
}

footer .footer-quick-links h5 {
  margin: 15px;
}

footer .footer-links h5 {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  padding: 2px;
}

footer .footer-links img {
  vertical-align: middle;
}

footer .footer-links div {
  margin: 0px;
}

footer h4 {
  text-align: center;
}

.menu-btn {
  display: none;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 8px;
  padding: 6px;
  color: white;
}

.menu-items {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.nav-after-menu {
  margin: 0px 10px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
}

.menu-items-display {
  max-height: 300px;
  opacity: 1;
}

.error {
  color: rgb(255, 70, 70);
  font-weight: 500;
}

/* media queri tablet landscape and laptop */

@media (max-width: 1024px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .projects img {
    height: 40%;
  }

  .footer-about {
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-quick-links {
    grid-area: 1 / 2 / 2 / 3;
  }
  .footer-links {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer-contact {
    grid-area: 2 / 2 / 3 / 3;
  }

  footer hr,
  footer .copyright {
    grid-column: 1 / 3;
  }

  .contact {
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
  }

  .contact-img {
    display: none;
  }

  .contact-img {
    display: none;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
  }
}

/* media queri tablet and mobile landscape */

@media (max-width: 768px) {
  .profile {
    display: block;
  }

  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 12px;
    margin: 50px 5px;
    gap: 20px;
  }

  .skill-name-percentage span:first-child {
    display: block;
    margin-bottom: 8px;
    font-size: 0.8rem;
  }

  .skill-name-percentage span:last-child {
    display: block;
    margin-bottom: 8px;
    font-size: 0.8rem;
  }

  .skill-title {
    display: block;
  }

  .skill-title h4 {
    display: none;
  }

  .skill-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .project-title {
    display: block;
  }

  .project-title h4 {
    display: none;
  }

  .project-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .projects img {
    height: 48%;
  }

  .contact {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .about-title {
    display: block;
  }

  .about-title h4 {
    display: none;
  }

  .about-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    text-align: center;
  }

  .footer-about {
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-quick-links {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer-links {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer-contact {
    grid-area: 4 / 1 / 5 / 2;
  }

  footer hr,
  footer .copyright {
    grid-column: 1 / 2;
  }

  .about-img {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-img img {
    width: 60%;
    max-width: 250px;
    height: auto;
    margin: 0;
  }

  .about-info {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.brand-logo img {
  display: none;
}

/* media queri mobile */

@media (max-width: 480px) {
  .menu-btn {
    display: block;
  }

  .resume-btn {
    display: none;
  }
}

/* media queri */

@media (max-width: 1100px) {
  .contact img {
    display: none;
  }
}
