/* go top button */

#go-top {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}

#go-top:hover {
  background-color: #a1a1a1;
}

#go-top img {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  transition: all 1s ease;
}

/* header */

header {
  border: 1px solid rgb(37, 37, 99);
  border-radius: 20px;
  background-color: rgb(37, 37, 99);
  margin: 20px 5px;
  padding: 5px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

header nav .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header nav .nav-left a span {
  position: relative;
  color: white;
  display: inline-block;
}

header nav .nav-left a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.5s ease;
}

header nav .nav-left a:hover span::after {
  width: 100%;
}

header nav img {
  width: 70px;
  height: 25px;
  margin-top: 5px;
}

header nav .menu-icone svg {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

header nav .menu-icone svg:hover {
  transform: scale(1.1);
}

/* hero section */

.profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
  gap: 15px;
}

.profile-about {
  color: white;
  margin: 20px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.profile-about h1 {
  display: inline-block;
  margin: auto;
}

.profile-about h5 {
  margin: auto;
}

.profile-about h3 {
  margin: auto;
  padding-top: 10px;
}

.profile-about #developer {
  color: #7a7cde;
}

.profile-about #name {
  color: #7a7cde;
}

.profile-img {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

/* hero section contact links */

main .contact-icons {
  display: inline-block;
}

main .contact-icons img {
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 5px;
  transition: transform 0.3s ease;
}

main .contact-icons img:hover {
  transform: scale(1.2);
}

/* skills section */

.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.skill-title h2 {
  color: white;
  margin: 15px;
}

.skill-title h4 {
  color: white;
  margin: 15px;
}

.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.skill .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.skill .skill-name {
  margin: auto;
  color: rgb(163, 163, 163);
}

.skill .icon {
  transition: all 0.3s ease;
}

.skill .icon:hover {
  transform: scale(1.2);
}

.bar {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.full-bar {
  width: 100%;
  height: 10px;
  background: gray;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.html {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  margin: 10px;
}

.html .bar {
  width: 80%;
  animation: full-bar 10s ease;
}

.css {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  margin: 10px;
}

.css .bar {
  width: 80%;
  animation: full-bar 10s ease;
}

@keyframes full-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes full-barr {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

.js {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  margin: 10px;
}

.js .bar {
  width: 30%;
  animation: full-barr 8s ease;
}

.git {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  margin: 10px;
}

.git .bar {
  width: 30%;
  animation: full-barr 8s ease;
}

/* projects section (updating) */

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.project-title h2 {
  color: white;
  margin: 15px;
}

.project-title h4 {
  color: white;
  margin: 15px;
}

.projects {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  margin: 20px;
  margin-bottom: 80px;
}

.projects img {
  border-radius: 25px;
  transition: all 0.3s ease;
  padding: 10px;
  width: 100%;
  height: 60%;
}

.projects img:hover {
  transform: scaleY(1.035);
  filter: brightness(85%);
}

.projects button {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgb(255, 255, 255);
  color: rgb(59, 59, 59);
  cursor: pointer;
  width: 95%;
  height: 40px;
  transition: all 0.3s ease;
  margin: 10px;
}

.projects button:hover {
  transform: scale(1.05);
}

.project1 {
  grid-area: 1 / 1 / 3 / 3;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
}
.project2 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  grid-area: 1 / 3 / 3 / 5;
}
.project3 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  grid-area: 3 / 1 / 5 / 3;
}
.project4 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  grid-area: 3 / 3 / 5 / 5;
}

/* about section */

.about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  margin: 15px;
  margin-bottom: 100px;
}

.about-img {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.about-info {
  grid-area: 1 / 3 / 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.about-info h3 {
  background: #00d4ff;
  background-clip: text;
  color: transparent;
  animation: textcolor 1s infinite alternate;
}

.about-info h3 img {
  border: 1px solid white;
  border-radius: 30%;
  margin-right: 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
}

@keyframes textcolor {
  0% {
    background: #69e4fd;
    background-clip: text;
    color: transparent;
  }
  100% {
    background: #e8ebed;
    background-clip: text;
    color: transparent;
  }
}

/* get in touch section */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.contact-img {
  grid-area: 1 / 1 / 2 / 2;
}
.form {
  grid-area: 1 / 2 / 2 / 3;
}
.contact-img2 {
  grid-area: 1 / 3 / 2 / 4;
}

.contact img {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  border: none;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 50px;
  width: 100%;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(45, 45, 45);
  background-color: transparent;
  margin: 10px;
  text-align: start;
}

form button {
  width: 95%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  transform: scale(1.05);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(45, 45, 45);
}

input:focus::placeholder {
  color: transparent;
}

textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(45, 45, 45);
  background-color: transparent;
  padding: 10px;
  resize: none;
  justify-content: center;
  align-items: center;
  text-align: left;
}

textarea::placeholder {
  color: rgb(45, 45, 45);
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus {
  outline: none;
}

.form h1 {
  color: white;
}

/* footer section */

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  background: linear-gradient(180deg, #1e1e2f 0%, #2a2372 100%);
  color: #e2e8f0;
}

.footer-about {
  grid-area: 1 / 1 / 2 / 2;
}
.footer-quick-links {
  grid-area: 1 / 2 / 2 / 3;
}
.footer-links {
  grid-area: 1 / 3 / 2 / 4;
}
.footer-contact {
  grid-area: 1 / 4 / 2 / 5;
}

footer hr {
  grid-column: 1 / 5;
  border: none;
  border-top: 1px solid white;
}

footer .copyright {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

footer div {
  margin: 20px;
}

footer a h5 {
  color: #e2e8f0;
  transition: all 0.5s ease;
}

footer a h5:hover {
  transform: scale(1.05);
}

footer img {
  width: 20px;
  height: 20px;
}

footer .footer-quick-links h5 {
  margin: 15px;
}

footer .footer-links h5 {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  padding: 2px;
}

footer .footer-links img {
  vertical-align: middle;
}

footer .footer-links div {
  margin: 0px;
}

footer h4 {
  text-align: center;
}

/* media queri tablet landscape and laptop */

@media (max-width: 1024px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .footer-about {
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-quick-links {
    grid-area: 1 / 2 / 2 / 3;
  }
  .footer-links {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer-contact {
    grid-area: 2 / 2 / 3 / 3;
  }

  footer hr,
  footer .copyright {
    grid-column: 1 / 3;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
  }
}

/* media queri tablet and mobile landscape */

@media (max-width: 768px) {
  header nav .nav-left a span {
    display: none;
  }

  .skill-title {
    display: block;
  }

  .skill-title h4 {
    display: none;
  }

  .skill-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .project-title {
    display: block;
  }

  .project-title h4 {
    display: none;
  }

  .project-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    text-align: center;
  }

  .footer-about {
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-quick-links {
    grid-area: 2 / 1 / 3 / 2;
  }
  .footer-links {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer-contact {
    grid-area: 4 / 1 / 5 / 2;
  }

  footer hr,
  footer .copyright {
    grid-column: 1 / 2;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-img img {
    width: 60%;
    max-width: 250px;
    height: auto;
    margin: 0;
  }

  .about-info {
    grid-area: 2 / 1 / 3 / 2;
  }
}

/* media queri mobile */

@media (max-width: 480px) {
}

/* media queri */

@media (max-width: 1100px) {
  .contact img {
    display: none;
  }
}
