header {
  border: 1px solid rgb(37, 37, 99);
  border-radius: 20px;
  background-color: rgb(37, 37, 99);
  margin: 20px 5px;
  padding: 5px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}

header nav .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header nav .nav-left div span {
  color: white;
  font-size: 1em;
  transition: all 0.3s ease;
  gap: 20px;
}

header nav .nav-left div span:hover {
  color: rgb(229, 228, 228);
  cursor: pointer;
  transform: scale(1.1);
}

header nav img {
  width: 70px;
  height: 25px;
  margin-top: 5px;
}

header nav .menu-icone svg {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

header nav .menu-icone svg:hover {
  transform: scale(1.1);
}

.profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
  gap: 15px;
}

.profile-about {
  color: white;
  margin: 20px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.profile-about h1 {
  display: inline-block;
  margin: auto;
}

.profile-about h2 {
  margin: auto;
}

.profile-about h5 {
  margin: auto;
}

.profile-about h3 {
  margin: auto;
  padding-top: 10px;
}

.profile-about #developer {
  color: #7a7cde;
}

.profile-about #name {
  color: #7a7cde;
}

.profile-img {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

main .contact-icons {
  display: inline-block;
}

main .contact-icons img {
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 5px;
  transition: transform 0.3s ease;
}

main .contact-icons img:hover {
  transform: scale(1.2);
}

.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.skill-title h2 {
  color: white;
  margin: 15px;
}

.skill-title h4 {
  color: white;
  margin: 15px;
}

.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.skill .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.skill .skill-name {
  margin: auto;
  color: rgb(163, 163, 163);
}

.skill .icon {
  transition: all 0.3s ease;
}

.skill .icon:hover {
  transform: scale(1.2);
}

.about {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  margin-top: auto;
}

.about h4 {
  color: #ffffff;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.about h2 {
  color: #ffffff;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact input {
  width: 350px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 30px;
  text-align: center;
}

.contact button {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact button:hover {
  transform: scale(1.1);
}

input:focus {
  outline: none;
  text-align: center;
}

input::placeholder {
  color: #696969;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#message {
  height: 150px;
}

.contact h2 {
  color: white;
}

@media (max-width: 600px) {
  .nav-left span {
    display: none;
  }

  .skill-title {
    display: block;
  }

  .skill-title h4 {
    display: none;
  }

  .skill-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
