nav {
  display: flex;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 15px 20px;
  background: #0f131873;
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.nav-link {
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: var(--accent);
}

.resume-dl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 5px 15px;
  background-color: transparent;
  transition: all 0.2s ease;
  color: var(--text-primary);
  font-size: 14px;
}

.resume-dl-btn:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.open-menu-btn {
  display: none;
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  transition: all 0.2s ease;
}

.open-menu-btn:hover {
  color: var(--accent);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  border-left: 1px solid var(--border);
  background-color: var(--bg-card);
  z-index: 10000;
  display: flex;
  gap: 20px;
  transform: translateX(100%);
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  padding: 20px;
}

.menu-btns {
  display: flex;
  flex-direction: column;
}

.mobile-menu.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  display: none;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.655);
}

.overlay.active {
  display: block;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  color: var(--accent);
}

.close-menu-btn {
  background-color: transparent;
  border: none;
  color: var(--accent);
}

.menu-btn {
  padding: 20px 0;
  border-bottom: 1px solid var(--border);
  transition: all 0.2s ease;
  cursor: pointer;
}

.menu-btn:hover {
  color: var(--accent);
}

@media (max-width: 767px) {
  .nav-links {
    display: none;
  }

  .resume-dl-btn {
    display: none;
  }

  .open-menu-btn {
    display: block;
  }
}
