.hero-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
  z-index: 1;
}

.hi-span {
  color: var(--accent);
  font-size: 14px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.hero-view-projects-btn {
  background-color: var(--accent);
  color: black;
  border: none;
}

.hero-contact-btn {
  border: 1px solid var(--border);
  background-color: transparent;
  color: var(--text-primary);
}

.terminal {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg-card);
  width: 450px;
  height: auto;
  font-size: 14px;
}

.terminal-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--bg-secondary);
}

.terminal-header-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.terminal-header-circle:nth-child(1){
    background-color: rgb(255, 94, 94);
}

.terminal-header-circle:nth-child(2){
    background-color: yellow;
}

.terminal-header-circle:nth-child(3){
    background-color: rgb(42, 189, 42);
}

.terminal-codes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.terminal-code.p{
    padding-left: 20px;
}

.const-code{
    color: var(--accent);
}

.str-code{
    color: rgb(83, 214, 83);
}

.num-code{
    color: rgb(239, 123, 239);
}

@media (max-width:1000px) {
    .terminal{
        width: 340px;
    }
}

@media (max-width:767px) {
    .hero-sec{
        flex-direction: column;
        gap: 50px;
    }

    .hero-right{
        width: 100%;
    }

    .terminal{
        width: 100%;
    }
}