/* tag a decoration */

a {
  text-decoration: none;
}

/* body direction and ... */

* {
  direction: ltr;
  box-sizing: border-box;
  font-family: Vazirmatn, Poppins;
}

/* scroll smooth */

html {
  scroll-behavior: smooth;
}

/* body */

body {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 16px;
  margin: 0px;
  cursor: default;
  user-select: none;
}

/* img */

img {
  max-width: 100%;
  height: auto;
}

/* google fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* scroll bar design */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #071624;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  margin: 2rem 0;
  background: #646464;
  opacity: 0.8;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

.loading {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.loading video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* vanta */

#vanta-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

/* go top button */

#go-top {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}

#go-top:hover {
  background-color: #a1a1a1;
}

#go-top img {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  transition: all 1s ease;
}

/* header */

.sajjad-nav {
  display: flex;
  backdrop-filter: blur(10px);
  margin: 20px 10px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 20px;
  backdrop-filter: blur(12px);
  background: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

nav .quick-link a span {
  margin: 0px 10px;
  font-size: 0.95rem;
  color: #c8c8c8;
  font-weight: 500;
  transition: all 0.5s ease;
}

nav .quick-link a span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3d7eff;
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border: 1.5px solid #c8c8c8;
  border-radius: 50%;
  vertical-align: middle;
}

.brand {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  margin-left: 5px;
  margin-right: 10px;
  color: #ffffff;
  padding-right: 35px;
  border-right: 2px solid #9b9b9b;
}

.resume .resume-btn {
  border: 2px solid #3d7eff;
  padding: 7px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  letter-spacing: 0.3px;
  transition: all 0.5s ease;
}

.resume .resume-btn:hover {
  background-color: #3d7eff;
  transform: scale(1.03);
  cursor: pointer;
}

.menu-items {
  display: flex;
  backdrop-filter: blur(10px);
  margin: 0px 10px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #9b9b9b;
  padding: 0px 15px;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  flex-direction: column;
}

.menu-item img {
  width: 25px;
  height: 25px;
}

.menu-items span {
  color: white;
}

.menu-items div {
  display: flex;
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: #e8ebed;
  border-bottom: 1px solid #464646;
}

.menu-items div:last-child {
  border: none;
}

@media (max-width: 768px) {
  .quick-link {
    display: none;
  }

  .accent {
    border-color: transparent;
  }

  .tagline {
    font-size: 0.9rem;
  }
}

/* hero section */

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: auto;
  gap: 20px;
}

.profile-about {
  grid-area: 1 / 1 / 2 / 2;
  color: #ffffff;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.profile-about h1 {
  display: inline-block;
  font-weight: 600;
  margin: auto;
}

.profile-about h5 {
  margin: auto;
  font-size: 14px;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.profile-about h3 {
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0.8rem;
}

.profile-img {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

/* hero section contact links */

main .contact-icons {
  display: inline-block;
}

main .contact-icons img {
  width: 35px;
  height: 35px;
  gap: 1rem;
  opacity: 0.7;
  margin: 3px;
  padding: 5px;
  transition: transform 0.5s ease;
}

main .contact-icons img:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* skills section */

.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  color: #ffffff;
}

.skills-section {
  margin: 20px;
  margin-bottom: 80px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  color: #fff;
}

.skill {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border: 1px solid #9b9b9b;
  backdrop-filter: blur(12px);
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
}

.skill-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  vertical-align: middle;
}

/* projects section (updating) */

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
  color: #ffffff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
  margin-bottom: 100px;
}

.projects h3 {
  color: #ffffff;
}

.project-btns {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.projects a {
  color: white;
}

.projects button {
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid #3d7eff;
  cursor: pointer;
  width: 100%;
  height: 40px;
  transition: all 0.3s ease;
}

.projects button:hover {
  transform: scaleX(1.02);
  background-color: #3d7eff;
}

.project {
  border: 1px solid #9b9b9b;
  backdrop-filter: blur(12px);
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  height: auto;
  padding: 20px;
  transition: all 0.5s ease;
}

.project-name {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  align-items: center;
}

.tech-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tech-icons img {
  width: 15px;
  height: 15px;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-link {
  font-weight: 600;
  color: #3d7eff;
  transition: all 0.3s ease;
}

.project-link:hover {
  color: #98b7f4;
}

.click-info {
  font-size: 0.8rem;
}

.other-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.other-projects h2:hover {
  transform: scale(1.05);
  border: 1.3px solid;
}

.other-projects h2 {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px;
  transition: all 0.5s ease;
}

/* about section */

.about-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  color: #ffffff;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  margin-bottom: 80px;
  transition: all 0.5s ease;
}

.about-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #9b9b9b;
  backdrop-filter: blur(12px);
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: all 0.5s ease;
}

/* get in touch section */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 60px 15px;
  padding: 15px;
}

.contact-img {
  grid-area: 1 / 1 / 2 / 2;
}

.contact-img2 {
  grid-area: 1 / 3 / 2 / 4;
}

.contact img {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid #9b9b9b;
  backdrop-filter: blur(12px);
  background-color: rgb(255, 255, 255, 0.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 50px;
  width: 90%;
  transition: all 0.5s ease;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgb(167, 167, 167);
  background-color: transparent;
  margin: 10px;
  text-align: start;
}

form button {
  width: 95%;
  color: #ffffff;
  background-color: transparent;
  height: 40px;
  border: 2px solid #3d7eff;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  transform: scale(1.05);
  background-color: #3d7eff;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #ffffff;
}

input:focus::placeholder {
  color: transparent;
}

.form h1 {
  color: white;
}

/* footer section */

footer {
  background-color: #0a0f18;
}

.footer-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 100px;
  color: #e2e8f0;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 600;
  padding: 20px;
  color: #999;
}

.copyright h4 {
  margin: 0;
}

footer a h5 {
  color: #e2e8f0;
  transition: all 0.5s ease;
}

footer a h5:hover {
  transform: scale(1.05);
}

footer img {
  width: 20px;
  height: 20px;
}

footer .footer-quick-links h5 {
  margin: 15px;
}

footer .footer-links h5 {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  padding: 2px;
}

footer .footer-links img {
  vertical-align: middle;
}

footer .footer-links div {
  margin: 0px;
}

footer h4 {
  text-align: center;
}

.menu-btn {
  display: none;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 8px;
  padding: 6px;
  color: white;
}

.menu-items {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.nav-after-menu {
  margin: 0px 10px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
}

.menu-items-display {
  max-height: 300px;
  opacity: 1;
}

.error {
  color: rgb(255, 70, 70);
  font-weight: 500;
}

/* media queri */

@media (max-width: 1100px) {
  .contact img {
    display: none;
  }

  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* media queri tablet landscape and laptop */

@media (max-width: 1024px) {
  .footer-sections {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .contact {
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
  }

  .contact-img {
    display: none;
  }

  .contact-img {
    display: none;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
  }
}

/* media queri tablet and mobile landscape */

@media (max-width: 768px) {
  .profile {
    display: block;
  }

  .skill-title {
    display: block;
  }

  .skill-title h4 {
    display: none;
  }

  .skill-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .project-title {
    display: block;
  }

  .project-title h4 {
    display: none;
  }

  .project-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .about-title {
    display: block;
  }

  .about-title h4 {
    display: none;
  }

  .about-title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer-sections {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

.brand-logo img {
  display: none;
}

/* media queri mobile */

@media (max-width: 480px) {
  .menu-btn {
    display: block;
  }

  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .resume-btn {
    display: none;
  }

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8rem;
  }

  .skill-icon {
    width: 30px;
    height: 30px;
  }
}
